
.hero-content h5{
    font-size: 60px;
    margin-bottom: 20px;
    }
    .hero-content h2 {
        font-size: 92px;
        font-family: var(--headline2);
        font-weight: bold;
       

    }
    